In [21]:
my_set = set([1,2,3,4,3,2,1,3,2,1]) # Its Remove the duplicate values
print(my_set)

{1, 2, 3, 4}

In [14]:
## Basic set operations
my_set.add(7) ## Adding the element
my_set.remove(3) ## Removing the element
print(my_set)

{1, 2, 4, 7}

In [10]:
my_set.remove(10) # Its give error if not present in set
my_set.discard(10) # Its not give any error if not present in set

In [22]:
# pop method
poped = my_set.pop()
print(poped)

print(my_set)

1
{2, 3, 4}

In [23]:
# Clear all elements
my_set.clear()
print(my_set)

set()

In [24]:
# set Membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [30]:
### Mathematical test

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## Union
union_set= set1.union(set2)
print(union_set)

## Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [31]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## Difference
print(set1.difference(set2))

{1, 2, 3}

In [33]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [39]:
## Sets Methods
set1 = {4,5}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2))
print(set1.issuperset(set2))

True
False

In [42]:
lst = [1,2,2,3,4,4,5,5,1]
list(set(lst)) ## Removes the duplicate values

[1, 2, 3, 4, 5]

In [43]:
## Counting Unique words in text

text = "In this tutorial we are discussing about sets"
words = text.split()

## Converts list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'In', 'we', 'are', 'sets', 'this', 'about', 'tutorial', 'discussing'}
8