# SQL And SQLite

SQL(Structured Query Language) is as standard language for managing and manipulation relational databases. SQLite is a self-contained . serverless, and zero-configuration database engine that is widely used for embedded database system systems. In this lesson, we will cover the basic of SQL and SQLite, including creating databases, tables, and performing variuos SQL operations.

In [1]:
import sqlite3

In [2]:
# Connect to an SQLite database 
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a table 
cursor.execute('''
create Table If Not Exists employees(
    id Integer Primary Key, 
    Name Text Not Null, 
    Age Integer, 
    department Text             
    ) 
''')

## Commit the changes 
connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
# Insert the data in sqlite table 
cursor.execute('''
Insert Into employees(name, age, department)
    values('Sushil', '21', 'Data Scientist')
''')

cursor.execute('''
Insert Into employees(name, age, department)
    values('Akash', '28', 'Finance')
''')

cursor.execute('''
Insert Into employees(name, age, department)
    values('Srinivas', '25', 'Data Scientist')
''')

connection.commit()

In [7]:
# Query the data from the table  
cursor.execute('Select * from employees')
rows = cursor.fetchall() 

# Print the quired data 
for row in rows: 
    print(row)

(1, 'Sushil', 21, 'Data Scientist')
(3, 'Srinivas', 34, 'Data Scientist')
(4, 'Sushil', 21, 'Data Scientist')
(5, 'Akash', 28, 'Finance')
(6, 'Srinivas', 25, 'Data Scientist')

In [8]:
# Update the data in the table 
cursor.execute('''
Update employees 
Set age=34
Where name= "Srinivas"
''')

connection.commit()

In [9]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows: 
    print(row)

(1, 'Sushil', 21, 'Data Scientist')
(3, 'Srinivas', 34, 'Data Scientist')
(4, 'Sushil', 21, 'Data Scientist')
(5, 'Akash', 28, 'Finance')
(6, 'Srinivas', 34, 'Data Scientist')

In [10]:
# Delete teh data from table 

cursor.execute('''
Delete from employees 
where name = "Akash"
''')

connection.commit()

In [11]:
cursor.execute('Select * from employees')
rows = cursor.fetchall() 
for row in rows: 
    print(row)

(1, 'Sushil', 21, 'Data Scientist')
(3, 'Srinivas', 34, 'Data Scientist')
(4, 'Sushil', 21, 'Data Scientist')
(6, 'Srinivas', 34, 'Data Scientist')

In [15]:
## Working with slaes data 
# Connect to an SQLite database 
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor() 

# Create a table for sales data
cursor.execute('''
    Create Table IF NOT EXISTS sales (
        id INTEGER PRIMARY KEY, 
        date TEXT NOT NULL, 
        product TEXT NOT NULL, 
        sales INTEGER, 
        region TEXT
    )
''')


# Insert data into the sales table 
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'), 
    ('2023-01-02', 'Product2', 200, 'South'), 
    ('2023-01-03', 'Product3', 150, 'East'), 
    ('2023-01-04', 'Product4', 250, 'West'), 
    ('2023-01-05', 'Product5', 300, 'North')
]

cursor.executemany('''
    Insert into sales(date, product, sales, region)
            values(?, ?, ?, ?)
''', sales_data)

connection.commit()

In [16]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data 
for row in rows: 
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 150, 'East')
(4, '2023-01-04', 'Product4', 250, 'West')
(5, '2023-01-05', 'Product5', 300, 'North')

In [17]:
## Close the conneection
connection.close()